<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">

    <item
        android:title=" Settings"
        >
        <menu>

            <item
                android:id="@+id/profile"
                android:title=" profile"
                android:icon="@drawable/ic_home"
                />
            <item
                android:id="@+id/about"
                android:title="من نحن "
                android:icon="@drawable/ic_policy"
                />
            <item
                android:id="@+id/shareApp"
                android:title="شارك التطبيق "
                android:icon="@drawable/ic_baseline_share_24"
                />


        </menu>

    </item>
    <item
        android:title="Contents"
        >
        <menu>
            <item
                android:id="@+id/faceadd"
                android:title="Facebook"
                android:icon="@drawable/ic_facebook"
                />
            <item
                android:id="@+id/instaadd"
                android:title="instagram"
                android:icon="@drawable/ic_instgram"
                />
            <item
                android:id="@+id/twitteradd"
                android:title="twitter"
                android:icon="@drawable/ic_twitter"
                />

        </menu>


    </item>


</menu>